[submodule "lib/flatbuffers"]
	path = lib/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "lib/micro-ecc"]
	path = lib/micro-ecc
	url = https://github.com/kmackay/micro-ecc
[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/philsquared/Catch
[submodule "lib/result"]
	path = lib/result
	url = https://github.com/oktal/result
[submodule "lib/AES"]
	path = lib/AES
	url = https://github.com/kokke/tiny-AES128-C
