### IntelliJ project files
.idea
out
gen

### C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Concatenated header files
ArduinoJson.hpp

# duktape TODO Add as submodule
deviceLib/api/javascript/duktape

# Build directories
build
cmake-build-debug

# Cap'n Proto output files
*.capnp.h
*.capnp.c++