[submodule "deviceLib/crypto/ecc"]
	path = deviceLib/crypto/ecc
	url = https://github.com/kmackay/micro-ecc
[submodule "deviceLib/json/ArduinoJson"]
	path = deviceLib/json/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson/
[submodule "deviceLib/test/catch"]
	path = deviceLib/test/catch
	url = https://github.com/philsquared/Catch
[submodule "lib/flatbuffers"]
	path = lib/flatbuffers
	url = https://github.com/google/flatbuffers
