[submodule "lib/flatbuffers"]
	path = lib/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "lib/micro-ecc"]
	path = lib/micro-ecc
	url = https://github.com/kmackay/micro-ecc
[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/philsquared/Catch
[submodule "lib/duktape"]
	path = lib/duktape
	url = https://github.com/svaarala/duktape-releases
